# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.vscode/
.idea/

# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# Environment & Secrets
.env
.env.production
.env.local
.env.*.local
frontend/.env
frontend/.env.production
.kitty-help/

# Project Specific
uploads/
/server/uploads

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebase/

# AI Notices
ai_notices/

# Compiled Binaries
go-server/main
go-server/kitty-help-server
go-server/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Database Backups
*.sql

# Specific Executables
main
kitty-help-server
